workflows/Ladybug Send email - introduction.json
{"createdAt":"2024-12-18T19:16:18.736Z","updatedAt":"2024-12-19T19:31:56.000Z","id":"VdVEXwAtXhN0dsTg","name":"Ladybug Send email - introduction","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"00191a47-5712-4696-9bdd-02a71e213b92","name":"When clicking ‘Test workflow’"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=Protect Your Business with LadyBugPest Control – Exclusive Offer","message":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Exclusive Pest Control Offer</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0; background-color: #f9f9f9; color: #333;\">\n    <table align=\"center\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 20px auto; border: 1px solid #ddd; background-color: #fff; padding: 20px; border-radius: 5px;\">\n        <tr>\n            <td align=\"center\" style=\"padding-bottom: 20px;\">\n                <h1 style=\"font-size: 24px; color: #444;\">Protect Your Business with LadyBugPest Control</h1>\n            </td>\n        </tr>\n\t\t<tr>\n    <td align=\"center\" style=\"padding-bottom: 20px;\">\n        <img src=\"https://storage.googleapis.com/msgsndr/wrTQq3q5ONPwnnEd2ZjZ/media/676382e79b7d9a3b50f2a103.webp\" alt=\"LadyBugPest Control Service - Floor Inspection\" style=\"width: 600px; height: 270px; border-radius: 5px;\">\n\t\t</td>\n\t</tr>\n\n        <tr>\n            <td>\n                <p style=\"font-size: 16px; margin: 10px 0;\">\n                    Dear Valued Business Owner,\n                </p>\n                <p style=\"font-size: 16px; margin: 10px 0;\">\n                    Are pests becoming a problem at your business? LadyBugPest Control is here to help you take back control! \n                    We specialize in reliable pest removal, preventative maintenance, and tailored solutions to keep your space pest-free.\n                </p>\n                <p style=\"font-size: 16px; margin: 10px 0;\">\n                    As a special incentive, we’re offering a <strong>FREE inspection</strong> and <strong>25% off your initial service</strong>.\n                </p>\n                <p style=\"font-size: 16px; margin: 10px 0;\">\n                    Don’t let pests disrupt your operations—<strong>reply to this email today</strong> to claim your discount and schedule your free inspection.\n                    Let us provide the peace of mind your business deserves!\n                </p>\n                <p style=\"font-size: 16px; margin: 20px 0;\">\n                    Best regards,<br>\n                    <strong>Winston Buckridee</strong><br>\n                    Owner, LadyBugPest Control<br>\n                    📞 (908) 523-9284 <br>\n                    🌐 <a href=\"https://ladybugpest.com/\" style=\"color: #e63946; text-decoration: none;\">LadyBugPest</a>\n                </p>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\n\n\n\n\n","options":{"senderName":"Winston ","replyTo":"ladybugpest+introduction@gmail.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,20],"id":"11e7bc6a-ca8d-4e51-949f-b0913ecff944","name":"Gmail","webhookId":"60fa7339-d565-4120-aaf0-c3531f3b92df","credentials":{"gmailOAuth2":{"id":"4RKYvMMnoQAmOSY2","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[820,20],"id":"d0c2a02c-c3a7-4f2a-ab5a-9e611c95ae84","name":"Wait","webhookId":"0de7058c-f398-4ed9-9a60-bb2833eb115e"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[280,0],"id":"a1d770e2-6c9c-468b-8278-076b172c20e0","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[540,-280],"id":"c1c8f0c3-fc54-4cac-bcbf-461626305dd3"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Gmail","type":"main","index":0}]]},"Replace Me":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When clicking ‘Test workflow’":[{"json":{"email":"mantonik+test1@gmail.com"}},{"json":{"email":"mantonik+test2@gmail.com"}}]},"versionId":"367e7efb-7d1d-4d6a-91b8-a1d5115b4238","triggerCount":0,"tags":[{"createdAt":"2024-12-17T23:36:55.980Z","updatedAt":"2024-12-17T23:36:55.980Z","id":"b3J54jyUwdelZgcI","name":"emails"},{"createdAt":"2024-12-19T19:31:48.438Z","updatedAt":"2024-12-19T19:31:48.438Z","id":"lZx1HgvsI18VLb6j","name":"ladybug"}]}