workflows/MySQL DB Test 01.json
{"createdAt":"2024-11-30T20:52:36.226Z","updatedAt":"2024-12-17T23:38:35.000Z","id":"yE5QI7bGsHVKVVBR","name":"MySQL DB Test 01","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"5d6441c4-7cf8-4fda-b819-bee22cdcd5c6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[600,400]},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) FROM db_n8n.p_test;","options":{}},"id":"372d37a5-94ed-4087-a408-4fc7b1536769","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[820,400],"credentials":{"mySql":{"id":"sonNOWmHchjFnert","name":"dmseo03 MySQL 3306"}}},{"parameters":{"table":{"__rl":true,"value":"p_test","mode":"list","cachedResultName":"p_test"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"msg","value":"n8n message"}]},"options":{}},"id":"6b3d643b-05f8-4057-83c8-01ed68bccdda","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1040,400],"credentials":{"mySql":{"id":"sonNOWmHchjFnert","name":"dmseo03 MySQL 3306"}}},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) FROM db_n8n.p_test;","options":{}},"id":"d1a02c2b-1878-45bd-a754-21f824452eee","name":"MySQL2","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1260,400],"credentials":{"mySql":{"id":"sonNOWmHchjFnert","name":"dmseo03 MySQL 3306"}}},{"parameters":{"operation":"executeQuery","query":"SELECT max(id) max_id FROM db_n8n.p_test where trx_date < date_add(now(), interval -30 minute)","options":{}},"id":"3c1da35c-a8f7-43a8-ac74-a0c6386f4a95","name":"p_text max ID to delete","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1480,400],"credentials":{"mySql":{"id":"sonNOWmHchjFnert","name":"dmseo03 MySQL 3306"}}},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"p_test","mode":"list","cachedResultName":"p_test"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":"<=","value":"={{ $json.max_id }}"}]},"options":{}},"id":"7d6de324-6c4c-43a6-847e-443df634f47e","name":"delete p_test","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1700,400],"credentials":{"mySql":{"id":"sonNOWmHchjFnert","name":"dmseo03 MySQL 3306"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"p_text max ID to delete","type":"main","index":0}]]},"p_text max ID to delete":{"main":[[{"node":"delete p_test","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15dd5b3e-69c6-44a0-90ba-447688a392a6","triggerCount":1,"tags":[{"createdAt":"2024-12-17T23:37:09.525Z","updatedAt":"2024-12-17T23:37:09.525Z","id":"2kf7Br3LqlX3dBlY","name":"test"}]}