workflows/Upload video, create playlist and add video to playlist.json
{"createdAt":"2024-12-15T01:25:33.330Z","updatedAt":"2024-12-17T23:38:46.000Z","id":"XNBZnL2WgYPyOW3k","name":"Upload video, create playlist and add video to playlist","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1,"id":"9c5ef618-833d-462b-8ab9-ea3f1f046572"},{"parameters":{"resource":"video","operation":"upload","title":"n8n","regionCode":"IN","categoryId":"28","binaryProperty":"=data","options":{}},"name":"YouTube","type":"n8n-nodes-base.youTube","position":[780,240],"typeVersion":1,"id":"d2341aaf-f054-495c-88bc-8226f7f07ce7","credentials":{"youTubeOAuth2Api":{"id":"7yxnXFjmyfZOY1ry","name":"YouTube account OCI Cloud Architect"}}},{"parameters":{},"name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","position":[580,240],"typeVersion":1,"id":"938899ff-1a86-41cf-9a94-79e4b2c2f8f3"},{"parameters":{"resource":"playlist","operation":"create","title":"n8n","options":{}},"name":"YouTube1","type":"n8n-nodes-base.youTube","position":[980,240],"typeVersion":1,"id":"8c1b8e89-55a1-4463-b7aa-682667bcc192","credentials":{"youTubeOAuth2Api":{"id":"7yxnXFjmyfZOY1ry","name":"YouTube account OCI Cloud Architect"}}},{"parameters":{"resource":"playlistItem","videoId":"={{$node[\"YouTube\"].json[\"id\"]}}","options":{}},"name":"YouTube2","type":"n8n-nodes-base.youTube","position":[1180,240],"typeVersion":1,"id":"684e7bb2-8977-4754-90b1-52cb1c706716","credentials":{"youTubeOAuth2Api":{"id":"7yxnXFjmyfZOY1ry","name":"YouTube account OCI Cloud Architect"}}}],"connections":{"YouTube":{"main":[[{"node":"YouTube1","type":"main","index":0}]]},"YouTube1":{"main":[[{"node":"YouTube2","type":"main","index":0}]]},"Read Binary File":{"main":[[{"node":"YouTube","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"638"},"pinData":{},"versionId":"4ed71824-ae44-4b57-a7fe-40a0fcfcfa4a","triggerCount":0,"tags":[{"createdAt":"2024-12-17T23:37:09.525Z","updatedAt":"2024-12-17T23:37:09.525Z","id":"2kf7Br3LqlX3dBlY","name":"test"}]}