workflows/YouTube Shorts.json
{"createdAt":"2024-12-14T05:03:41.165Z","updatedAt":"2024-12-17T23:38:30.000Z","id":"DCIjIHxRMnMrT06Z","name":"YouTube Shorts","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,-120],"id":"bb08b325-0666-4287-826a-dc57aee8ed88","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"folder","operation":"list","path":"/youtube_shorts/","returnAll":true,"filters":{}},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-20,-120],"id":"581906b1-e623-4f73-a209-a921b281f509","name":"Dropbox list","retryOnFail":false,"executeOnce":false,"notesInFlow":false,"credentials":{"dropboxApi":{"id":"WTolcwRjE4x64ZUw","name":"Dropbox account"}}},{"parameters":{"operation":"download","path":"={{ $json.pathLower }}"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[240,-120],"id":"659d6b07-56d9-49b5-9935-f0961f43fc90","name":"Dropbox","credentials":{"dropboxApi":{"id":"WTolcwRjE4x64ZUw","name":"Dropbox account"}}},{"parameters":{"resource":"video","operation":"upload","title":"test n8n upload","regionCode":"US","categoryId":"1","binaryProperty":"=data","options":{"privacyStatus":"private","publishAt":"2024-12-20T00:00:00"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[420,-120],"id":"82d9e70d-b5b4-41b0-9da5-86d9f6a5251f","name":"YouTube","credentials":{"youTubeOAuth2Api":{"id":"7yxnXFjmyfZOY1ry","name":"YouTube account OCI Cloud Architect"}},"notes":"thread about problem with you tube \n\nhttps://community.n8n.io/t/youtube-upload-is-failing/51113?_gl=1*vukvlw*_gcl_au*NDEzMTk2NzI3LjE3MzQyMjYyNzQ.*_ga*MTk2MTA3MzUyMy4xNzM0MjIxNjE5*_ga_0SC4FF2FH9*MTczNDIyMTYxOS4xLjEuMTczNDIyNjMzMC40LjAuMA..\n\n"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Dropbox list","type":"main","index":0}]]},"Dropbox list":{"main":[[{"node":"Dropbox","type":"main","index":0}]]},"Dropbox":{"main":[[{"node":"YouTube","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Dropbox list":[{"json":{"id":"id:-Z4AEYd-fdAAAAAAAAAAtw","name":"1.mp4","lastModifiedClient":"2024-11-17T22:45:06Z","lastModifiedServer":"2024-12-15T00:48:39Z","rev":"629446cc3438e4c355fda","contentSize":10290130,"type":"file","contentHash":"1d5635c365f5473039ef5182e365afd2b0937c1485dcad37a4571b8e37ecab00","pathLower":"/youtube_shorts/1.mp4","pathDisplay":"/youtube_shorts/1.mp4","isDownloadable":true}},{"json":{"id":"id:-Z4AEYd-fdAAAAAAAAAAuw","name":"2.mp4","lastModifiedClient":"2024-11-17T22:45:07Z","lastModifiedServer":"2024-12-15T00:48:40Z","rev":"629446ccb499b4c355fda","contentSize":7223939,"type":"file","contentHash":"5419c3fe147dec27de84f36b14871b1d1e24b201fcb9333206c57fd48722f8f5","pathLower":"/youtube_shorts/2.mp4","pathDisplay":"/youtube_shorts/2.mp4","isDownloadable":true}},{"json":{"id":"id:-Z4AEYd-fdAAAAAAAAAAvA","name":"3.mp4","lastModifiedClient":"2024-11-17T22:45:07Z","lastModifiedServer":"2024-12-15T00:48:40Z","rev":"629446cd1bf4b4c355fda","contentSize":8521067,"type":"file","contentHash":"6e5ffd37429eaf4e824a2a31afefb594755a54ec4cfd58d718793ad664fb32b6","pathLower":"/youtube_shorts/3.mp4","pathDisplay":"/youtube_shorts/3.mp4","isDownloadable":true}}],"Dropbox":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"6ec86ef2-78fa-4fbe-ad47-45948432df50","triggerCount":0,"tags":[{"createdAt":"2024-12-17T23:37:09.525Z","updatedAt":"2024-12-17T23:37:09.525Z","id":"2kf7Br3LqlX3dBlY","name":"test"}]}